<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>389716641082-ju16lo2kvpolh3o9ev1omlhnr8pr431i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.389716641082-ju16lo2kvpolh3o9ev1omlhnr8pr431i</string>
	<key>API_KEY</key>
	<string>AIzaSyDBkfcB7rZURgF6yZU89TT4hkDDvm8xZ1I</string>
	<key>GCM_SENDER_ID</key>
	<string>389716641082</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.social.media.sat26.socialMediaSat26</string>
	<key>PROJECT_ID</key>
	<string>socialsat</string>
	<key>STORAGE_BUCKET</key>
	<string>socialsat.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:389716641082:ios:4bad0dcdec59969548bc03</string>
</dict>
</plist>